.container {
  padding-bottom: 10px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn {
  font-size: 16px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: blue;
  color: white;
}
